@charset "UTF-8";
@import "compass";
@import "variables";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

body {
	background: $background;
	font-family: Menlo,​ Consolas,​ Courier,​ monospace;
}

a {
	color: $cyan;

	&:hover,
	&:focus {
		color: $cyan;
	}
}

/*
================================================================================
	bootstrap
================================================================================
*/
.nav {

	> li {

		a {
			color: $gray;
		}

		// a:hover {
		// 	border-color: $background_hover $background_hover $nav-tabs-border-color;
		// }

		// a:hover,
		// a:focus {
		// 	background: $background_hover;
		// }
	}
}

.tab-content {
	padding: $padding 0 0;
	margin-bottom: $margin;
}

.tab-pane {

	> :last-child {
		margin-bottom: 0;
	}
}

.checkbox {
	// padding: $padding / 2 0;
	margin: $margin 0;
}

code {
	// font-size: 90%;
	padding: 3px 6px;

	.red {
		color: lighten($monokai-tag_name, 5%);
	}

	.blue {
		color: $monokai-strage_type;
	}
}

/*
================================================================================
	original
================================================================================
*/
.flow {
	padding-top: $padding;
	padding-bottom: $padding;
}

.file,
.function,
.class,
.redirect_to {
	background: #fff;
	margin: $margin 0;
	border: 1px solid $border;
	border-bottom-width: 2px;
	@include border-radius(3px);
	@include box-sizing(border-box);
	// @include box-shadow(0 0 1px rgba(0, 0, 0, 0.05));

	&:hover {
		// background: $state-warning-bg;
	}
}

.file-name,
.function-name,
.class-name {
	font-size: $rem * 1.4;
	line-height: $line-height-base;
	margin: 0;
	display: block;
	padding: $padding / 2;
	color: inherit;
}

.function-name,
.class-name {
	// background: $midnight;
}

.collapse-toggle {
	cursor: pointer;

	&:hover,
	&:focus,
	&:active,
	&.active {
		background: $background_hover;
		text-decoration: none;
		color: inherit;
	}
}

.file-body,
.function-body,
.class-body {
	padding: 0 $padding;
	border-top: 1px solid $border;

	> :first-child {
		margin-top: $margin;
	}

	> :last-child {
		margin-bottom: $margin;
	}
}

.require {

	> .file-name,
	> .collapse-toggle > .file-name {

		&:before {
			content: 'require ';
			color: $magenta;
		}
	}
}

.require_once {

	> .file-name,
	> .collapse-toggle > .file-name {

		&:before {
			content: 'require_once ';
			color: $magenta;
		}
	}
}
.include {

	> .file-name,
	> .collapse-toggle > .file-name {

		&:before {
			content: 'include ';
			color: $magenta;
		}
	}
}

.include_once {

	> .file-name,
	> .collapse-toggle > .file-name {

		&:before {
			content: 'include_once ';
			color: $magenta;
		}
	}
}

.redirect_to {
	@extend .function;
	@extend .function-name;
	@extend .collapse-toggle;

	&:before {
		content: 'redirect to ';
		color: $cyan;
	}
}

.if-content {
	display: none;

	&.in {
		display: block;
	}
}

.at {
	color: $gray;

	&:before {
		content: '// ';
	}
}

.comment {
	color: $gray;
}

/*
================================================================================
	narrow
================================================================================
*/
@media (max-width: 768px) {

	.flow {
		padding: $padding / 2;
	}

	.file,
	.function,
	.class,
	.redirect_to {
		margin: ($margin / 2) 0;
	}

	.file-name,
	.function-name,
	.class-name {
		// padding: $padding / 2;
	}

	.file-body,
	.function-body,
	.class-body {
		padding: 0 ($padding / 2);

		> :first-child {
			margin-top: $margin / 2;
		}

		> :last-child {
			margin-bottom: $margin / 2;
		}
	}

}