@charset "UTF-8";
@import "compass";
@import "variables";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

body {
	background: $background;
	font-family: Menlo,​ Consolas,​ Courier,​ monospace;
}

a {
	color: $cyan;

	&:hover,
	&:focus {
		color: $cyan;
	}
}

/*
================================================================================
	bootstrap
================================================================================
*/
.nav {

	> li {

		a {
			color: $gray;
		}

		// a:hover {
		// 	border-color: $background_hover $background_hover $nav-tabs-border-color;
		// }

		// a:hover,
		// a:focus {
		// 	background: $background_hover;
		// }
	}
}

.tab-content {
	padding: $padding 0 0;
	margin-bottom: $margin;
}

.tab-pane {

	> :last-child {
		margin-bottom: 0;
	}
}

code {
	// font-size: 90%;
	padding: 3px 6px;
}

/*
================================================================================
	original
================================================================================
*/
.flow {
	padding: $padding 0;
}

.file,
.function,
.redirect_to {
	background: #fff;
	margin-bottom: $margin;
	border: 1px solid $border;
	border-bottom-width: 2px;
	@include border-radius(3px);
	@include box-sizing(border-box);
	// @include box-shadow(0 0 1px rgba(0, 0, 0, 0.05));

	&:hover {
		// background: $state-warning-bg;
	}
}

.file-header,
.function-header {
	margin: 0;
}

.file-name,
.function-name {
	font-size: $rem * 1.4;
	line-height: 1;
	margin: 0;
	display: block;
	padding: $padding / 2;
	color: inherit;
}

a.file-name,
a.function-name {

	&:hover,
	&:focus,
	&:active,
	&.active {
		background: $background_hover;
		text-decoration: none;
		color: inherit;
	}
}

.file-body,
.function-body {
	padding: $padding;
	border-top: 1px solid $border;

	> :last-child {
		margin-bottom: 0;
	}
}

.require {

	> .file-header {

		> .file-name {

			&:before {
				content: 'require ';
				color: $magenta;
			}
		}
	}
}

.require_once {

	> .file-header {

		> .file-name {

			&:before {
				content: 'require_once ';
				color: $magenta;
			}
		}
	}
}

.redirect_to {
	@extend .function;
	@extend .function-name;

	&:before {
		content: 'redirect to ';
		color: $cyan;
	}
}

.at {
	color: $gray;

	&:before {
		content: '// ';
	}
}