@charset "UTF-8";
@import "compass";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

body {
	// background: $gray-lighter;
}

.file {
	background: #fff;
	padding:  ($grid-gutter-width / 2);
	border: 1px solid $input-border;
	@include border-radius(4px);
	@include box-sizing(border-box);

	&:hover {
		// background: $state-warning-bg;
	}
}